.footer {
  background-color: white;
  color: #344e74;
  padding: 50px;
}

.logo {
  background: white;
  height: 20px;
}

.navbarLogo {
  color: #344e74;
  text-align: center;
  font-family: Sanchez;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-shrink: 0;
  cursor: pointer;
  margin-top: 9%;
}

.contact {
  color: #344e74;
  font-family: Sanchez;
  font-size: 30px;
}
.buttonContact {
  /* margin-top: 8%;
  margin-left: -10.6%; */
}
.about {
  color: #344e74;
  font-family: Sanchez;
  font-size: 30px;
}
.lastline {
  background-color: whitesmoke;
  height: 40px;
  font-family: Sanchez;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
}
.lastline1 {
  background-color: whitesmoke;
  height: 40px;
  font-family: Sanchez;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  left: 0;
  bottom: 0;
  position: fixed;
  text-align: center;
}
