.navbar {
  background: #4d9ffe;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  .navbarLogo {
    color: #fff;
    text-align: center;
    font-family: Sanchez;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-shrink: 0;
    cursor: pointer;
  }

  .navbarItem {
    color: #fff !important;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
    margin-left: 49px;
    padding: 10px;
  }

  .menuButton {
    background-color: #4d9ffe;
    border: none;
    color: #fff;
    font-size: 18px;
  }
  .menuButton:hover {
    background-color: #4d9ffe;
    border: none;
    color: rgb(1, 101, 252);
  }
}
