.bodybox {
  background-color: white;
  width: auto;
  height: 100%;
  padding: 10px 20px;
}

.list {
  height: 100%;
  padding: 10px 0px;
  align-items: center;
  font-size: 18px;
  border-bottom: 1px solid #c4c4c4;
}

.listitem {
  color: #4d9ffe;
  text-decoration: none;
}
.listitem:hover {
  text-decoration: underline;
}

.cTable {
  width: 100%;
  border-collapse: collapse;
}

.cTh {
  text-transform: none !important;
  font-size: 16px !important;
}

.cTableCaption {
  position: top;
}

.text {
  padding: 8px 20px;
  font-size: 18px;
  background-color: rgb(237, 242, 247);
  border: 1px solid rgb(153, 153, 152);
}
.text:hover {
  /* text-decoration: underline; */
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px;
}
.card strong {
  padding: 5px;
}
.card p {
  padding: 5px;
  margin-right: 40px;
}

.text1 {
  padding: 10px;
}
.text2 {
  font-weight: bold;
}
