.bodybox {
  background-color: white;
  width: auto;
  height: 100%;
  padding: 10px 20px;
}

.list {
  height: 100%;
  padding: 10px 0px;
  align-items: center;
  font-size: 18px;
  border-bottom: 1px solid #c4c4c4;
}

.list table {
  font-size: 16px;
}

.listitem {
  color: #4d9ffe;
  text-decoration: none;
}
.listitem:hover {
  text-decoration: underline;
  cursor: pointer;
}

.cTable {
  width: 100%;
  border-collapse: collapse;
}
.cTable tbody {
  overflow: scroll;
  max-height: 40vh;
}

.cTh {
  text-transform: none !important;
  font-size: 16px !important;
}

.cTableCaption {
  position: top;
}

.text {
  padding: 8px 20px;
  font-size: 18px;
  background-color: rgb(237, 242, 247);
  border: 1px solid rgb(153, 153, 152);
}
.text:hover {
  /* text-decoration: underline; */
  cursor: pointer;
}

.text1 {
  padding: 10px;
}
.text2 {
  font-weight: bold;
}

.borderTop {
  border-top: 1px solid rgb(237 242 247);
}

.borderRight {
  border-right: 1px solid rgb(237 242 247);
}

.tab {
  font-size: 22px !important;
}

.formInput {
  margin-top: 10px;
}
.alert {
  width: 320px;
  position: fixed;
  top: 10%;
  right: 1%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* Mờ độ 50% */
  z-index: 999; /* Đảm bảo nó ở trên cùng */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for zoomed image */
.zoomed-image-container {
  position: relative;
  overflow: hidden;
}

/* styles.css or styles.module.css */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
