.homeBody {
  margin-top: 0px;
  padding: 0 58px;
  height: 80vh;
  /* background-color: #4d9ffe; */
}

.image1 {
  width: 55%;
}

@media (min-width: 900px) {
  .homeBody {
    height: 70vh;
    /* background-color: #4d9ffe; */
  }
  .image1 {
    width: 50%;
  }
}

.loginForm {
  width: 493px;
  height: 485px;
  flex-shrink: 0;
  border-radius: 25px;
  border: 1px solid #0075ff;
  background: #fff;
  align-items: center;
  justify-content: space-around;

  .loginFormTitle {
    text-align: center;
  }

  .title1 {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .title2 {
    color: #000;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .inputField {
    border-radius: 50px;
    border: 1px solid #0075ff;
    background: #d9d9d9;
    height: 51px;
  }

  .inputField::placeholder {
    color: #464646;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .userName {
    margin-bottom: 33px;
  }

  .passWord {
    margin-bottom: 20px;
  }

  .forgetPassword {
    color: #464646;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: end;
  }

  .buttonSignIn {
    width: 90%;
    border-radius: 50px;
    border: 1px solid #0075ff;
    background: #0075ff;
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .eyeIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}

.introduce {
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.intro {
  flex-direction: column;
  width: 476px;
  height: 176px;
  flex-shrink: 0;
  margin: 0 auto;
  margin-top: 132px;

  .title {
    color: #fff;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .detail {
    color: #fff;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.signUpText {
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: end;
}

.link {
  color: #0029ff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dividerVertical {
  width: 1px;
  height: 706px;
  background: #fff;
  margin-right: 214px;
  margin-left: 54px;
}
