.homeBody {
  text-align: center;
  align-items: center;
  margin: auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(31, 127, 204);
  background: linear-gradient(
    240deg,
    rgb(13, 135, 216) 0%,
    rgb(0, 35, 56) 100%
  );
}

.homeContent {
  height: 60vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title1 {
  font-size: 32px;
  font-weight: bold;
  z-index: 2;
}
.title2 {
  font-size: 18px;
  margin: 10px 0px;
}

#Banner {
  width: 40vw;
  /* background-image: url('https://png.pngtree.com/background/20210715/original/pngtree-background-blue-abstrack-picture-image_1294096.jpg'); */
  background-image: url('https://static.vecteezy.com/system/resources/previews/000/673/018/large_2x/datacenter-server-room-cloud-storage-technology-and-big-data-processing-vector.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  font-size: 24px;
  position: relative;
}

.Layer {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#Link {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 16px;
  margin: 10px;
  z-index: 2;
}
#Link:hover {
  text-decoration: underline;
}

#LoginForm {
  width: 20vw;
  background-color: white;
}
